/* Reset default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

/* Header */
header {
  background: #333;
  color: #fff;
  padding: 20px 0;
}

header h1 {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

nav a {
  display:flex;
  justify-content: space-around;
  align-items: center;
  color: #fcfbfb;
  text-decoration: none;
}

nav a:hover {
  text-decoration: underline;

}

/* Sections */
.section {
  padding: 40px 0;
}

.section:nth-child(even) {
  background: #f4f4f4;
}

/* Footer */
footer {
  background: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

img {
  max-width: 100%;
  height: auto;
}
